# Sensitive config
config.json

# Python
__pycache__/
*.pyc
*.pyo

# Debug artifacts
temp_list.json
transfer.json

# OS
.DS_Store

# claude
.claude/

/firefly-iii-billing/references/firefly-iii-6.5.5-v1.yaml

.agents

skills-lock.json